In [5]:
import pandas as pd
import json
import matplotlib.pyplot as plt
import requests
from pathlib import Path
import numpy as np
import time

In [6]:
file= Path("data/Home_inventory.monthly.csv")
inventory_df=pd.read_csv(file)

In [8]:
inventory_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,3/31/2018,4/30/2018,5/31/2018,6/30/2018,7/31/2018,...,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023
0,102001,0,United States,country,NaN,1421529.0,1500193.0,1592414.0,1660614.0,1709142.0,...,1033311.0,1092069.0,1101482.0,1085079.0,1032570.0,955889.0,884129,830977,835420,845310
1,394913,1,"New York, NY",msa,NY,73707.0,80345.0,85864.0,90067.0,91881.0,...,61312.0,61386.0,60262.0,58241.0,55450.0,50400.0,45916,42796,43253,44167
2,753899,2,"Los Angeles, CA",msa,CA,21998.0,23784.0,25605.0,27109.0,28811.0,...,21015.0,22264.0,22400.0,21802.0,20477.0,18604.0,16767,15382,15214,15090
3,394463,3,"Chicago, IL",msa,IL,38581.0,42253.0,45757.0,47492.0,48985.0,...,30846.0,31876.0,31682.0,30798.0,28771.0,25674.0,22770,20829,20922,21201
4,394514,4,"Dallas, TX",msa,TX,24043.0,25876.0,28225.0,30490.0,32408.0,...,20485.0,22365.0,22863.0,22445.0,21500.0,19985.0,18560,17106,17053,17942

In [20]:
sf_df=pd.DataFrame(inventory_df.iloc[12])
sf_df.head()

                           12
RegionID               395057
SizeRank                   12
RegionName  San Francisco, CA
RegionType                msa
StateName                  CA

In [22]:
clean_sf=sf_df.drop(["RegionID", "SizeRank", "RegionType",])
clean_sf

                           12
RegionName  San Francisco, CA
StateName                  CA
3/31/2018              5326.0
4/30/2018              6363.0
5/31/2018              7325.0
...                       ...
12/31/2022             6901.0
1/31/2023                5550
2/28/2023                4868
3/31/2023                5081
4/30/2023                5530

[64 rows x 1 columns]

In [26]:
pre_covid_df=(clean_sf.iloc[:26])
pre_covid_df

                           12
RegionName  San Francisco, CA
StateName                  CA
3/31/2018              5326.0
4/30/2018              6363.0
5/31/2018              7325.0
6/30/2018              7864.0
7/31/2018              8146.0
8/31/2018              8162.0
9/30/2018              8480.0
10/31/2018             8935.0
11/30/2018             8822.0
12/31/2018             7655.0
1/31/2019              6431.0
2/28/2019              6035.0
3/31/2019              6808.0
4/30/2019              7824.0
5/31/2019              8809.0
6/30/2019              9291.0
7/31/2019              9376.0
8/31/2019              8984.0
9/30/2019              8959.0
10/31/2019             8992.0
11/30/2019             8479.0
12/31/2019             6845.0
1/31/2020              5296.0
2/29/2020              4945.0

In [30]:
post_covid_df=(clean_sf.iloc[26:70])
post_covid_df

                12
3/31/2020   5521.0
4/30/2020   5780.0
5/31/2020   6309.0
6/30/2020   7091.0
7/31/2020   8360.0
8/31/2020   8994.0
9/30/2020   9360.0
10/31/2020  9704.0
11/30/2020  9282.0
12/31/2020  8052.0
1/31/2021   6721.0
2/28/2021   6316.0
3/31/2021   6927.0
4/30/2021   7541.0
5/31/2021   7962.0
6/30/2021   8185.0
7/31/2021   8429.0
8/31/2021   8557.0
9/30/2021   8655.0
10/31/2021  8595.0
11/30/2021  7891.0
12/31/2021  6376.0
1/31/2022   4972.0
2/28/2022   4746.0
3/31/2022   5782.0
4/30/2022   6918.0
5/31/2022   7828.0
6/30/2022   8498.0
7/31/2022   9125.0
8/31/2022   9379.0
9/30/2022   9262.0
10/31/2022  8941.0
11/30/2022  8216.0
12/31/2022  6901.0
1/31/2023     5550
2/28/2023     4868
3/31/2023     5081
4/30/2023     5530