In [1]:
import pandas as pd
import json
import matplotlib.pyplot as plt
import requests
from pathlib import Path
import numpy as np
import time

In [4]:
file= Path("./data/redfin_data_excel.csv")
Redfin_df=pd.read_csv(file)

In [6]:
Redfin_df.head()

,Column1,Month of Period End,Median Sale Price,Median Sale Price MoM,Median Sale Price YoY,Homes Sold,Homes Sold MoM,Homes Sold YoY,New Listings,New Listings MoM,New Listings YoY,Inventory,Inventory MoM,Inventory YoY,Days on Market,Days on Market MoM,Days on Market YoY,Average Sale To List,Average Sale To List MoM,Average Sale To List YoY
0,National,2/1/2019,$276K,0.013,0.029,371041,0.114,-0.002,540627,0.024,-0.038,1437578,0.013,0.089,59,2,6,0.978,0.003,-0.003
1,National,3/1/2019,$284K,0.028,0.022,486241,0.310,-0.051,707587,0.309,-0.022,1493693,0.039,0.084,50,-9,5,0.981,0.003,-0.004
2,National,4/1/2019,$290K,0.022,0.030,546481,0.124,0.019,778639,0.100,0.017,1564769,0.048,0.074,42,-8,5,0.984,0.003,-0.004
3,National,5/1/2019,$298K,0.029,0.037,642068,0.175,0.028,830737,0.067,0.004,1660025,0.061,0.064,37,-5,4,0.986,0.002,-0.003
4,National,6/1/2019,$303K,0.014,0.034,620446,-0.034,-0.060,734806,-0.115,-0.051,1700719,0.025,0.040,36,-1,5,0.987,0.001,-0.003

In [ ]:
SF_df= Redfin_df[]