In [5]:
import pandas as pd
import json
import matplotlib.pyplot as plt
import requests
from pathlib import Path
import numpy as np
import time

In [6]:
file= Path("data/Home_inventory.monthly.csv")
inventory_df=pd.read_csv(file)

In [8]:
inventory_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,3/31/2018,4/30/2018,5/31/2018,6/30/2018,7/31/2018,...,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023
0,102001,0,United States,country,NaN,1421529.0,1500193.0,1592414.0,1660614.0,1709142.0,...,1033311.0,1092069.0,1101482.0,1085079.0,1032570.0,955889.0,884129,830977,835420,845310
1,394913,1,"New York, NY",msa,NY,73707.0,80345.0,85864.0,90067.0,91881.0,...,61312.0,61386.0,60262.0,58241.0,55450.0,50400.0,45916,42796,43253,44167
2,753899,2,"Los Angeles, CA",msa,CA,21998.0,23784.0,25605.0,27109.0,28811.0,...,21015.0,22264.0,22400.0,21802.0,20477.0,18604.0,16767,15382,15214,15090
3,394463,3,"Chicago, IL",msa,IL,38581.0,42253.0,45757.0,47492.0,48985.0,...,30846.0,31876.0,31682.0,30798.0,28771.0,25674.0,22770,20829,20922,21201
4,394514,4,"Dallas, TX",msa,TX,24043.0,25876.0,28225.0,30490.0,32408.0,...,20485.0,22365.0,22863.0,22445.0,21500.0,19985.0,18560,17106,17053,17942

In [20]:
sf_df=pd.DataFrame(inventory_df.iloc[12])
sf_df.head()

                           12
RegionID               395057
SizeRank                   12
RegionName  San Francisco, CA
RegionType                msa
StateName                  CA

In [31]:
clean_sf=sf_df.drop(["RegionID", "SizeRank", "RegionType","RegionName", "StateName"])
clean_sf

                12
3/31/2018   5326.0
4/30/2018   6363.0
5/31/2018   7325.0
6/30/2018   7864.0
7/31/2018   8146.0
...            ...
12/31/2022  6901.0
1/31/2023     5550
2/28/2023     4868
3/31/2023     5081
4/30/2023     5530

[62 rows x 1 columns]

In [67]:
pre_covid_df=(clean_sf.iloc[:26])
pre_covid_df.head()

               12
3/31/2018  5326.0
4/30/2018  6363.0
5/31/2018  7325.0
6/30/2018  7864.0
7/31/2018  8146.0

In [66]:
post_covid_df=(clean_sf.iloc[26:70])
post_covid_df.head()

               12
5/31/2020  6309.0
6/30/2020  7091.0
7/31/2020  8360.0
8/31/2020  8994.0
9/30/2020  9360.0

In [42]:
file2= Path("data/Rental data. monthly.csv")
rental_df=pd.read_csv(file2)

In [81]:
rental_df.head(13)

,RegionID,SizeRank,RegionName,RegionType,StateName,3/31/2015,4/30/2015,5/31/2015,6/30/2015,7/31/2015,...,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023
0,102001,0,United States,country,NaN,1316.882137,1327.077746,1336.985344,1347.189723,1353.394167,...,1987.491300,2002.482563,2008.140297,2006.081681,1997.638718,1992.421079,1991.266756,1997.228610,2006.354216,2018.055353
1,394913,1,"New York, NY",msa,NY,2443.764214,2464.719370,2483.196870,2500.971887,2512.718350,...,3207.491920,3233.573512,3231.414682,3207.885431,3175.252087,3151.638239,3143.696116,3159.468131,3188.554355,3229.346478
2,753899,2,"Los Angeles, CA",msa,CA,1921.951938,1935.567889,1948.902894,1961.209437,1978.339689,...,2916.787977,2931.511579,2939.060199,2934.669745,2926.508092,2918.427897,2913.352030,2916.907462,2926.201136,2940.362187
3,394463,3,"Chicago, IL",msa,IL,1490.453763,1502.135150,1513.653098,1523.141742,1529.525405,...,1926.675734,1935.965115,1939.042087,1936.999439,1930.524303,1931.114992,1934.797789,1949.648014,1963.410538,1981.453014
4,394514,4,"Dallas, TX",msa,TX,1156.562026,1167.566988,1178.805865,1187.481860,1193.257396,...,1822.737036,1834.605968,1833.954651,1821.664564,1806.901852,1791.518277,1785.807533,1788.122845,1795.573723,1801.517431
5,394692,5,"Houston, TX",msa,TX,1282.313698,1289.042858,1298.305096,1308.982960,1314.857222,...,1648.672235,1657.369679,1657.126429,1651.760260,1643.435294,1638.036526,1643.489094,1651.265892,1661.996669,1667.828831
6,395209,6,"Washington, DC",msa,VA,1787.410980,1796.223914,1804.057257,1813.993847,1817.625661,...,2248.883014,2265.011169,2269.005212,2259.192189,2240.103711,2222.593316,2218.412134,2228.155240,2248.283957,2264.324239
7,394974,7,"Philadelphia, PA",msa,PA,1346.057380,1352.515392,1363.050016,1368.619578,1372.200869,...,1843.357832,1855.017472,1857.240298,1852.603084,1846.379462,1842.389484,1841.644648,1842.761387,1846.734460,1854.661487
8,394856,8,"Miami, FL",msa,FL,1595.526631,1602.793270,1608.589962,1619.913636,1627.907683,...,2753.110401,2761.095775,2774.595709,2782.833773,2794.883568,2791.636530,2789.548688,2787.453926,2796.063759,2804.595689
9,394347,9,"Atlanta, GA",msa,GA,1097.719342,1106.876803,1116.288842,1126.557624,1136.237081,...,1958.983329,1977.497493,1985.456489,1979.623304,1969.217039,1962.958820,1957.956114,1963.287958,1967.835419,1979.630064
10,394404,10,"Boston, MA",msa,MA,2165.757385,2184.773266,2208.415658,2229.047783,2240.294501,...,2878.639507,2906.626239,2930.803649,2936.127685,2931.474293,2911.376716,2904.290682,2913.266105,2944.261712,2978.245686
11,394976,11,"Phoenix, AZ",msa,AZ,1004.767856,1017.580047,1021.734457,1031.061450,1032.711022,...,1936.634743,1938.121371,1933.335700,1922.507558,1909.593389,1898.262044,1891.448324,1895.060983,1906.805359,1918.348961
12,395057,12,"San Francisco, CA",msa,CA,2378.542329,2404.115293,2436.319434,2472.506281,2504.773834,...,3137.819039,3150.576564,3147.162173,3134.211505,3112.309697,3098.350285,3089.845933,3097.124206,3111.439067,3121.825352

In [88]:
sf_rental=pd.DataFrame(rental_df.loc[[12]])
#sf_rental=sf_rental.drop(["RegionID", "SizeRank", "RegionType","RegionName", "StateName"])
sf_rental

,RegionID,SizeRank,RegionName,RegionType,StateName,3/31/2015,4/30/2015,5/31/2015,6/30/2015,7/31/2015,...,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023
12,395057,12,"San Francisco, CA",msa,CA,2378.542329,2404.115293,2436.319434,2472.506281,2504.773834,...,3137.819039,3150.576564,3147.162173,3134.211505,3112.309697,3098.350285,3089.845933,3097.124206,3111.439067,3121.825352

In [84]:
pre_covid_rentals=(sf_rental.iloc[:60])
pre_covid_rentals.head()

                    12
3/31/2015  2378.542329
4/30/2015  2404.115293
5/31/2015  2436.319434
6/30/2015  2472.506281
7/31/2015  2504.773834

In [72]:
post_covid_rental=(sf_rental.iloc[60:100])
post_covid_rental.head()

                     12
3/31/2020    2949.65185
4/30/2020   2939.372827
5/31/2020   2927.211641
6/30/2020   2908.052281
7/31/2020   2887.142551
8/31/2020           NaN
9/30/2020           NaN
10/31/2020  2732.149796

In [68]:
file3= Path("data/List_&_Sale_price.monthly.csv")
sales_price_df=pd.read_csv(file3)

In [70]:
sales_price_df.head(13)

,RegionID,SizeRank,RegionName,RegionType,StateName,3/31/2018,4/30/2018,5/31/2018,6/30/2018,7/31/2018,...,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023
0,102001,0,United States,country,NaN,263267.0,271267.0,276633.0,280000.0,280300.0,...,393300.0,393300.0,391300.0,386633.0,381667.0,375733.0,371900.0,371900.0,374833,383166.0
1,394913,1,"New York, NY",msa,NY,503000.0,513000.0,521300.0,526300.0,528300.0,...,613330.0,606330.0,599663.0,606333.0,612999.0,619333.0,619333.0,624667.0,634967,647967.0
2,753899,2,"Los Angeles, CA",msa,CA,721333.0,735000.0,743333.0,750000.0,749667.0,...,920633.0,910333.0,901667.0,897667.0,894333.0,887667.0,882633.0,885967.0,892967,916231.0
3,394463,3,"Chicago, IL",msa,IL,284600.0,294600.0,300600.0,302267.0,301967.0,...,324967.0,322967.0,319967.0,314967.0,308600.0,302933.0,299300.0,302167.0,308833,319133.0
4,394514,4,"Dallas, TX",msa,TX,322997.0,328497.0,331797.0,332800.0,329502.0,...,438297.0,434967.0,428300.0,419000.0,410667.0,403667.0,398000.0,396667.0,400000,411663.0
5,394692,5,"Houston, TX",msa,TX,294467.0,297933.0,299633.0,299933.0,299633.0,...,367500.0,364500.0,358000.0,352997.0,349663.0,347122.0,343792.0,342425.0,344933,351567.0
6,395209,6,"Washington, DC",msa,VA,405633.0,419967.0,433267.0,439933.0,439933.0,...,533083.0,526717.0,523300.0,521633.0,518300.0,509800.0,503100.0,506433.0,523267,543298.0
7,394974,7,"Philadelphia, PA",msa,PA,225500.0,234133.0,242467.0,249967.0,251667.0,...,318000.0,314967.0,311600.0,308233.0,304900.0,298263.0,293297.0,291663.0,295000,303333.0
8,394856,8,"Miami, FL",msa,FL,366600.0,368267.0,371067.0,372367.0,372367.0,...,543000.0,546300.0,546300.0,545967.0,549000.0,549000.0,545667.0,542633.0,541300,544967.0
9,394347,9,"Atlanta, GA",msa,GA,280600.0,289900.0,296600.0,299633.0,297000.0,...,391933.0,388600.0,381600.0,376600.0,371633.0,366600.0,359967.0,358267.0,361600,369900.0
10,394404,10,"Boston, MA",msa,MA,502933.0,514933.0,524633.0,525667.0,517000.0,...,697967.0,689667.0,689667.0,691000.0,699000.0,699000.0,699333.0,712817.0,729783,749450.0
11,394976,11,"Phoenix, AZ",msa,AZ,320833.0,324167.0,326333.0,326333.0,324667.0,...,509975.0,501642.0,489975.0,481666.0,473333.0,466633.0,463300.0,466600.0,473267,482267.0
12,395057,12,"San Francisco, CA",msa,CA,864333.0,907667.0,929000.0,936000.0,921333.0,...,1075000.0,1043000.0,1027667.0,1016000.0,1014667.0,981333.0,964333.0,964333.0,989667,1036315.0

In [86]:
sf_sales_price=pd.DataFrame(sales_price_df.loc[[12]])
sf_sales_price

,RegionID,SizeRank,RegionName,RegionType,StateName,3/31/2018,4/30/2018,5/31/2018,6/30/2018,7/31/2018,...,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023
12,395057,12,"San Francisco, CA",msa,CA,864333.0,907667.0,929000.0,936000.0,921333.0,...,1075000.0,1043000.0,1027667.0,1016000.0,1014667.0,981333.0,964333.0,964333.0,989667,1036315.0