In [2]:
import pandas as pd
import json
import matplotlib.pyplot as plt
import requests
from pathlib import Path
import numpy as np
import time

In [3]:
file= Path("data/Home_inventory.monthly.csv")
df=pd.read_csv(file)

In [4]:
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,3/31/2018,4/30/2018,5/31/2018,6/30/2018,7/31/2018,...,7/31/2022,8/31/2022,9/30/2022,10/31/2022,11/30/2022,12/31/2022,1/31/2023,2/28/2023,3/31/2023,4/30/2023
0,102001,0,United States,country,NaN,1421529.0,1500193.0,1592414.0,1660614.0,1709142.0,...,1033311.0,1092069.0,1101482.0,1085079.0,1032570.0,955889.0,884129,830977,835420,845310
1,394913,1,"New York, NY",msa,NY,73707.0,80345.0,85864.0,90067.0,91881.0,...,61312.0,61386.0,60262.0,58241.0,55450.0,50400.0,45916,42796,43253,44167
2,753899,2,"Los Angeles, CA",msa,CA,21998.0,23784.0,25605.0,27109.0,28811.0,...,21015.0,22264.0,22400.0,21802.0,20477.0,18604.0,16767,15382,15214,15090
3,394463,3,"Chicago, IL",msa,IL,38581.0,42253.0,45757.0,47492.0,48985.0,...,30846.0,31876.0,31682.0,30798.0,28771.0,25674.0,22770,20829,20922,21201
4,394514,4,"Dallas, TX",msa,TX,24043.0,25876.0,28225.0,30490.0,32408.0,...,20485.0,22365.0,22863.0,22445.0,21500.0,19985.0,18560,17106,17053,17942